* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111827;
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  padding: 30px;
}

.container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 30px;
}

.sidebar {
  background: #1f2937;
  border-radius: 25px;
  padding: 30px;
  position: sticky;
  top: 20px;
  height: fit-content;
  border: 1px solid rgba(255,255,255,0.08);
}

.perfil {
  text-align: center;
  margin-bottom: 40px;
}

.foto {
  width: 120px;
  height: 120px;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.perfil h1 {
  font-size: 30px;
}

.perfil p {
  color: #9ca3af;
  margin-top: 8px;
}

.bloco {
  margin-bottom: 35px;
}

.bloco h2 {
  margin-bottom: 15px;
  color: #60a5fa;
  font-size: 20px;
}

.bloco ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bloco li {
  background: rgba(255,255,255,0.04);
  padding: 12px;
  border-radius: 12px;
  color: #d1d5db;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  color: #d1d5db;
}

.info-item a {
  color: #60a5fa;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topo,
.sessao {
  background: #1f2937;
  padding: 35px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.08);
}

.topo h2,
.sessao h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #60a5fa;
}

.topo p {
  line-height: 1.8;
  color: #d1d5db;
}

.card-exp,
.card-formacao {
  background: rgba(255,255,255,0.04);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.card-exp:hover,
.card-formacao:hover {
  transform: translateY(-5px);
  border: 1px solid rgba(96,165,250,0.4);
}

.titulo-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

.titulo-exp h3,
.card-formacao h3 {
  font-size: 22px;
}

.titulo-exp span {
  background: #2563eb;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 14px;
}

.card-exp p,
.dados-formacao p {
  color: #d1d5db;
  line-height: 1.7;
}

.status {
  display: inline-block;
  margin-top: 20px;
  background: #16a34a;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: 600;
}

@media(max-width: 980px) {

  body {
    padding: 15px;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: relative;
    top: 0;
  }

  .titulo-exp {
    flex-direction: column;
    align-items: flex-start;
  }
}
